  <mat-table #table [dataSource]="musicArray"   class="mat-autocomplete-panel">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.title }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef> artist</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.artist }}</mat-cell>
  </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="onRowClicked(row)"></mat-row>
</mat-table>

  <!-- Audio Player Section -->
  <div *ngIf="selectedTrack">
    <h3>Now Playing: {{ selectedTrack.title }} by {{ selectedTrack.artist }}</h3>
    <audio controls [src]="selectedTrack.url" autoplay></audio>
  </div>

  <div id="container">
    <div class="music-line-container">
      <div class="line-borders"></div>
      <div class="line-borders"></div>
      <div class="line-border"></div>
    </div>
    <div class="notes-container">
      <div class="do">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
        <div class="line"></div>
      </div>
      <div class="re">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="mi">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="fa">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="sol">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="la">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="si">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
      <div class="do2">
        <div class="circle"></div>
        <div class="stick"></div>
        <div class="tail-container">
          <div class="tail"></div>
          <div class="tail-mask"></div>
        </div>
      </div>
    </div>
  </div>


